body {
  color:white;
  font-family:Florence,cursive ;
	height:200vh ;
	width: 100% ;
	background-image: linear-gradient(135deg,#2c3599,#ed93de);
}

.b{
  font-size: 90px;
  text-align: center;
  color: yellow;
}
.c{
  font-size: 35px;
  color:yellowgreen ;
  text-align: center;
  
}
.d{
  font-size:20px;
  text-align:center ;
}
.e{
  color:red;
  font-size:40px;
}
